* {
    margin:0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

div {
    height: 75px;
    width: 100%;
    z-index: 9999;
}
h1 {
    line-height: 75px;
    float: left;
}
.menu {
    float: right;
}
.menu li {
    float: left;
}
.menu a {
    line-height: 75px;
    padding: 0 15px;
    display: block;
}
.wrapper {
    width: 1170px;
    margin: 0 auto;
}
